In [3]:
#Importing packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#data importation (corruption index)
pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv') 
corruption=pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv')

In [5]:
#changing index to the date 
corruption_labelled = corruption.set_index('Date')

In [180]:
#slicing some columns and rows
corruption_labelled_2019 = corruption_labelled.loc[2019][['country','Value']]

In [160]:
#sorting df in ascending order using country
corruption_new = corruption_labelled_2019.sort_values('country')

In [156]:
#Nested if statement to return a new column "Rank"
def rank(df):
    if df['Value'] <= 40:
        return 'Very clean'
    elif df['Value'] > 40 and df['Value'] <= 80:
        return 'Clean'
    elif df['Value'] > 80 and df['Value'] <= 120:
        return 'Average'
    elif df['Value'] > 120 and df['Value'] <= 160:
        return 'Corrupt'
    else:
    #elif df['Value'] > 160 and df['Value'] <= 200:
        return 'Highly Corrupt'

In [171]:
corruption_new['rank'] = corruption_new.apply(rank, axis=1)

In [175]:
#Renaming a column
corruption_final = corruption_new.rename(columns={'Value':'corruption index'})
corruption_final.head(2)

          country  corruption index            rank
Date
2019  Afghanistan               173  Highly Corrupt
2019      Albania               106         Average

In [20]:
#Data importation (life expectancy)
life_exp = pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [22]:
#Setting date as index
life_exp_labelled =life_exp.set_index('Date')

In [169]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
life_exp_labelled1 = life_exp_labelled.loc[2019][['country','Value']]

#Sorting in ascending order
life_exp_sorted = life_exp_labelled1.sort_values ('country')

In [174]:
#Renaming column from 'value' to 'years'
life_exp_new = life_exp_labelled1.rename(columns={'Value':'years'})

#Sorting in alphabetical order
life_exp_new1 = life_exp_new.sort_values('country')
life_exp_new1.head(2)

          country   years
Date
2019  Afghanistan  64.833
2019      Albania  78.573

In [85]:
#Data importation (GDP per capita)
GDP = pd.read_csv(r'C:\Users\harun\Desktop\Data\GDP.csv')

In [32]:
#Setting date as index
GDP_labelled = GDP.set_index('Date')

In [176]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
GDP_labelled1 = GDP_labelled.loc[2019][['country','Value']]
GDP_labelled1.head(2)

             country         Value
Date
2019  American Samoa   9445.805028
2019       Australia  57183.379350

In [177]:
#Data importation (population 2019)
population = pd.read_csv(r'C:\Users\harun\Desktop\Data\population.csv')

In [178]:
#Renaming a column 
population_new = population.rename(columns={'Population in thousands':'population'})

#sort in ascending order
population_sorted = population_new.sort_values('country')
population_sorted

#Round up values to nearest thousand
population_sorted1 = population_sorted.round({"population":0})

population_sorted1.head(2)

       country  population
0  Afghanistan     38051.0
1      Albania      2880.0

In [179]:
#Data Importation (Natural resource rent share of GDP)
Nat_res = pd.read_csv(r'C:\Users\harun\Desktop\Data\Nat_res.csv') 

#Sort in ascending order using country
Nat_res1 = Nat_res.sort_values('country')

#Round up 'Natural resource' to 2 decimal places
Nat_res2 = Nat_res1.round({"Natural resource rent share of GDP%":2})
Nat_res2.head(2)

         country  Natural resource rent share of GDP%
135  Afghanistan                                 0.77
30       Albania                                 1.59

In [185]:
#concatenati
pd.concat([corruption_final, life_exp_new1], axis = 1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects