In [3]:
#Importing packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#data importation (corruption index)
pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv') 
corruption=pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv')

In [5]:
#changing index to the date 
corruption_labelled = corruption.set_index('Date')

In [180]:
#slicing 
corruption_labelled_2019 = corruption_labelled.loc[2019][['country','Value']]
corruption_labelled_2019

In [160]:
#sorting df in ascending order using country
corruption_new = corruption_labelled_2019.sort_values('country')

In [221]:
#Nested if (conditional) statement to return a new column "rank"
#Defining a new function (rank)
def rank(df):
    if df['Value'] <= 40:
        return 'Very clean'
    elif df['Value'] > 40 and df['Value'] <= 80:
        return 'Clean'
    elif df['Value'] > 80 and df['Value'] <= 120:
        return 'Average'
    elif df['Value'] > 120 and df['Value'] <= 160:
        return 'Corrupt'
    else:
    #elif df['Value'] > 160 and df['Value'] <= 200:
        return 'Highly Corrupt'

In [190]:
corruption_new['rank'] = corruption_new.apply(rank, axis=1)

In [215]:
#Renaming a column
corruption_final = corruption_new.rename(columns={'Value':'corruption index'})
corruption_final.shape

(179, 3)

In [218]:
corruption_final.head(5)

          country  corruption index            rank
Date
2019  Afghanistan               173  Highly Corrupt
2019      Albania               106         Average
2019      Algeria               106         Average
2019       Angola               146         Corrupt
2019    Argentina                66           Clean

In [20]:
#Data importation (life expectancy)
life_exp = pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [22]:
#Setting date as index
life_exp_labelled =life_exp.set_index('Date')

In [169]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
life_exp_labelled1 = life_exp_labelled.loc[2019][['country','Value']]

#Sorting in ascending order
life_exp_sorted = life_exp_labelled1.sort_values ('country')

In [216]:
#Renaming column from 'value' to 'years'
life_exp_new = life_exp_labelled1.rename(columns={'Value':'years'})

#Sorting in alphabetical order
life_exp_new1 = life_exp_new.sort_values('country')
life_exp_new1.shape

(204, 2)

In [220]:
life_exp_new1.head(5)

                  country   years
Date
2019          Afghanistan  64.833
2019              Albania  78.573
2019              Algeria  76.880
2019               Angola  61.147
2019  Antigua and Barbuda  77.016

In [207]:
#Data importation (GDP per capita)
GDP = pd.read_csv(r'C:\Users\harun\Desktop\Data\GDP.csv')

In [208]:
#Setting date as index
GDP_labelled = GDP.set_index('Date')

In [239]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
GDP_labelled1 = GDP_labelled.loc[2019][['country','Value']]

#sort in ascending order
GDP_sorted = GDP_labelled1.sort_values('country')

#Renaming a column from 'value' to 'gdp'
GDP_final = GDP_sorted.rename(columns={'Value':'gdp'})

#Rounding up to 2 decimal places
GDP_final.round({'gdp':2})

                          country      gdp
Date
2019                  Afghanistan   573.29
2019  Africa Eastern and Southern  1598.38
2019                      Albania  5207.31
2019                      Algeria  4701.28
2019               American Samoa  9445.81
...                           ...      ...
2019                      Vanuatu  2865.79
2019                      Vietnam  2082.24
2019           West Bank and Gaza  2951.37
2019                       Zambia  1653.83
2019                     Zimbabwe  1168.01

[195 rows x 2 columns]

In [210]:
#Data importation (population 2019)
population = pd.read_csv(r'C:\Users\harun\Desktop\Data\population.csv')

In [194]:
#Renaming a column 
population_new = population.rename(columns={'Population in thousands':'population'})

#sort in ascending order
population_sorted = population_new.sort_values('country')
population_sorted

#Round up values to nearest thousand
population_sorted1 = population_sorted.round({"population":0})

population_sorted1.head(10)
population_sorted1.shape

(203, 2)

In [195]:
#Data Importation (Natural resource rent share of GDP)
Nat_res = pd.read_csv(r'C:\Users\harun\Desktop\Data\Nat_res.csv') 

Nat_res.shape

(188, 2)

In [186]:
#concatenating dataframes

In [231]:
#Sort in ascending order using country
Nat_res1 = Nat_res.sort_values('country')

#Round up 'Natural resource' to 2 decimal places
Nat_res2 = Nat_res1.round({"Natural resource rent share of GDP%":2})
Nat_res2.head(10)

                 country  Natural resource rent share of GDP%
135          Afghanistan                                 0.77
30               Albania                                 1.59
113              Algeria                                16.42
31               Andorra                                 0.00
143               Angola                                26.19
79   Antigua and Barbuda                                 0.00
80             Argentina                                 2.07
32               Armenia                                 2.11
1              Australia                                 5.36
33               Austria                                 0.13

In [230]:
#Merging dataframes Corruptiona and life expecatncy
corruption_merg = corruption_final.merge(life_exp_new1,how = 'left')

corruption_merg.merge(GDP_sorted, how = 'left')

         country  corruption index            rank   years        Value
0    Afghanistan               173  Highly Corrupt  64.833   573.287506
1        Albania               106         Average  78.573  5207.305322
2        Algeria               106         Average  76.880  4701.279743
3         Angola               146         Corrupt  61.147  3111.157308
4      Argentina                66           Clean  76.667  9742.455417
..           ...               ...             ...     ...          ...
174    Venezuela               173  Highly Corrupt     NaN          NaN
175      Vietnam                96         Average  75.400  2082.243651
176        Yemen               177  Highly Corrupt     NaN          NaN
177       Zambia               113         Average  63.886  1653.829030
178     Zimbabwe               158         Corrupt  61.490  1168.008072

[179 rows x 5 columns]

In [228]:
GDP_sorted.shape

(195, 2)