In [110]:
#Importing packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [111]:
#data importation
pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv') 
corruption=pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv')

In [17]:
#changing index to the date 
corruption_labelled = corruption.set_index('Date')

#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
corruption_labelled_2019 = corruption_labelled.loc[2019][['country','Value']]
corruption_labelled_2019

In [106]:
#Renaming a column
corruption_new = corruption_labelled_2019.rename(columns={'Value':'corruption index'})
corruption_new

                               country  corruption index
Date
2019  Democratic Republic of the Congo               168
2019            Congo, Republic of the               165
2019                            Rwanda                51
2019                             Ghana                80
2019                           Algeria               106
...                                ...               ...
2019                            Israel                35
2019                             Syria               178
2019                            Jordan                60
2019                           Lebanon               137
2019                      Saudi Arabia                51

[179 rows x 2 columns]

In [120]:
corruption_new['rank'] = corruption_new.apply(lambda x: 'very clean' if x['corruption index'] <== 40 else 'clean' if x[corruption index] > 40 <== 80 else 'average' if x[corruption index] > 80 <)

SyntaxError: invalid syntax (<ipython-input-120-d15933692c2d>, line 1)

In [105]:
#Data importation
life_exp = pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [33]:
#Setting date as index
life_exp_labelled = life_exp.set_index('Date')

In [96]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
life_exp_labelled1 = life_exp_labelled.loc[2019][['country','Value']]
life_exp_labelled1

                country   Value
Date
2019          Australia  82.900
2019  Brunei Darussalam  75.860
2019           Cambodia  69.823
2019              China  76.912
2019               Fiji  67.444
...                 ...     ...
2019           Tanzania  65.456
2019               Togo  61.042
2019             Uganda  63.368
2019             Zambia  63.886
2019           Zimbabwe  61.490

[204 rows x 2 columns]

In [113]:
New_data = life_exp_labelled1.rename(columns={'Value':'years'})
New_data

                country   years
Date
2019          Australia  82.900
2019  Brunei Darussalam  75.860
2019           Cambodia  69.823
2019              China  76.912
2019               Fiji  67.444
...                 ...     ...
2019           Tanzania  65.456
2019               Togo  61.042
2019             Uganda  63.368
2019             Zambia  63.886
2019           Zimbabwe  61.490

[204 rows x 2 columns]

In [108]:
#Data importation
GDP = pd.read_csv(r'C:\Users\harun\Desktop\Data\GDP.csv')

In [48]:
#Setting date as index
GDP_labelled = GDP.set_index('Date')

In [57]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
GDP_labelled1 = GDP_labelled.loc[2019][['country','Value']]
GDP_labelled1.shape

(195, 2)

In [115]:
#Data importation
population = pd.read_csv(r'C:\Users\harun\Desktop\Data\population.csv')
population

                    country  Population in thousands
0               Afghanistan               38050.9000
1                   Albania                2879.9200
2                   Algeria               43030.4000
3            American Samoa                  55.3120
4                    Angola               31849.8000
..                      ...                      ...
198  Virgin Islands British                  30.0137
199     Virgin Islands U.S.                  95.6680
200                   Yemen               29162.2000
201                  Zambia               17873.8500
202                Zimbabwe               14654.2000

[203 rows x 2 columns]

In [101]:
#Merging dataframes

In [102]:
#Renaming a column