In [3]:
#Importing packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#data importation (corruption index)
pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv') 
corruption=pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv')

In [5]:
#changing index to the date 
corruption_labelled = corruption.set_index('Date')

In [9]:
#slicing some columns and rows
corruption_labelled_2019 = corruption_labelled.loc[2019][['country','Value']]
corruption_labelled_2019

                               country  Value
Date
2019  Democratic Republic of the Congo    168
2019            Congo, Republic of the    165
2019                            Rwanda     51
2019                             Ghana     80
2019                           Algeria    106
...                                ...    ...
2019                            Israel     35
2019                             Syria    178
2019                            Jordan     60
2019                           Lebanon    137
2019                      Saudi Arabia     51

[179 rows x 2 columns]

In [78]:
#sorting df in ascending order using country
corruption_new = corruption_labelled_2019.sort_values('country')
corruption_new.head(5)

          country  Value
Date
2019  Afghanistan    173
2019      Albania    106
2019      Algeria    106
2019       Angola    146
2019    Argentina     66

In [71]:
def rank(df):
    if df['Value'] <= '40':
        return 'Very clean'
    elif df['Value'] > 40 <= 80:
        return 'Clean'
    elif df['Value'] > 80 <= 120:
        return 'Average'
    elif df['Value'] > 120 <= 160:
        return 'Corrupt'
    else df['Value'] > 160 <= 200

SyntaxError: invalid syntax (<ipython-input-71-bd9f8dc524d4>, line 10)

In [60]:
corruption_labelled_2019('rank') = corruption_labelled_2019.apply(rank,axis=1)
corruption_labelled_2019

SyntaxError: cannot assign to function call (<ipython-input-60-c246c196e27d>, line 1)

In [57]:
#Renaming a column
corruption_new = corruption_labelled_2019.rename(columns={'Value':'corruption index'})

In [20]:
#Data importation (life expectancy)
life_exp = pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [22]:
#Setting date as index
life_exp_labelled =life_exp.set_index('Date')

In [81]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
#sorting in ascending order
life_exp_labelled1 = life_exp_labelled.loc[2019][['country','Value']]
life_exp_labelled1.sort_values ('country')

                    country      Value
Date
2019            Afghanistan  64.833000
2019                Albania  78.573000
2019                Algeria  76.880000
2019                 Angola  61.147000
2019    Antigua and Barbuda  77.016000
...                     ...        ...
2019  Virgin Islands (U.S.)  79.668293
2019     West Bank and Gaza  74.053000
2019            Yemen, Rep.  66.125000
2019                 Zambia  63.886000
2019               Zimbabwe  61.490000

[204 rows x 2 columns]

In [87]:
#Renaming column from 'value' to 'years'
#Sorting in alphabetical order
life_exp_new = life_exp_labelled1.rename(columns={'Value':'years'})
life_exp_new1 = life_exp_new.sort_values('country')

In [85]:
#Data importation (GDP per capita)
GDP = pd.read_csv(r'C:\Users\harun\Desktop\Data\GDP.csv')

In [32]:
#Setting date as index
GDP_labelled = GDP.set_index('Date')

In [33]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
GDP_labelled1 = GDP_labelled.loc[2019][['country','Value']]
GDP_labelled1.shape

(195, 2)

In [51]:
#Data importation (population 2019)
population = pd.read_csv(r'C:\Users\harun\Desktop\Data\population.csv')

                    country  Population in thousands
0               Afghanistan               38050.9000
1                   Albania                2879.9200
2                   Algeria               43030.4000
3            American Samoa                  55.3120
4                    Angola               31849.8000
..                      ...                      ...
198  Virgin Islands British                  30.0137
199     Virgin Islands U.S.                  95.6680
200                   Yemen               29162.2000
201                  Zambia               17873.8500
202                Zimbabwe               14654.2000

[203 rows x 2 columns]

In [131]:
#Renaming a column 
population_new = population.rename(columns={'Population in thousands':'population'})

#sort in ascending order
population_sorted = population_new.sort_values('country')
population_sorted

#Round up values to nearest thousand
population_sorted1 = population_sorted.round({"population":0})

<bound method DataFrame.info of                     country  population
0               Afghanistan  38050.9000
1                   Albania   2879.9200
2                   Algeria  43030.4000
3            American Samoa     55.3120
4                    Angola  31849.8000
..                      ...         ...
198  Virgin Islands British     30.0137
199     Virgin Islands U.S.     95.6680
200                   Yemen  29162.2000
201                  Zambia  17873.8500
202                Zimbabwe  14654.2000

[203 rows x 2 columns]>

In [133]:
#Data Importation (Natural resource rent share of GDP)
Nat_res = pd.read_csv(r'C:\Users\harun\Desktop\Data\Nat_res.csv') 

#Sort in ascending order using country
Nat_res1 = Nat_res.sort_values('country')

#Round up 'Natural resource' to 2 decimal places
Nat_res2 = Nat_res1.round({"Natural resource rent share of GDP%":2})

In [134]:
#Round up 'Natural resource' to 2 decimal places
Nat_res2 = Nat_res1.round({"Natural resource rent share of GDP%":2})