In [2]:
#
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#data importation
pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv') 
corruption=pd.read_csv(r'C:\Users\harun\Desktop\Data\corruption.csv')
corruption

,country,indicator,Unit,Date,Value
0,Democratic Republic of the Congo,Rank,"rank, lowest=""Very Clean""",2018,161
1,Democratic Republic of the Congo,Rank,"rank, lowest=""Very Clean""",2019,168
2,Democratic Republic of the Congo,Rank,"rank, lowest=""Very Clean""",2020,170
3,"Congo, Republic of the",Rank,"rank, lowest=""Very Clean""",2018,165
4,"Congo, Republic of the",Rank,"rank, lowest=""Very Clean""",2019,165
...,...,...,...,...,...
532,Lebanon,Rank,"rank, lowest=""Very Clean""",2019,137
533,Lebanon,Rank,"rank, lowest=""Very Clean""",2020,149
534,Saudi Arabia,Rank,"rank, lowest=""Very Clean""",2018,58
535,Saudi Arabia,Rank,"rank, lowest=""Very Clean""",2019,51
536,Saudi Arabia,Rank,"rank, lowest=""Very Clean""",2020,52

In [7]:
#changing index to the date 
corruption_labelled = corruption.set_index('Date')

In [8]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
corruption_labelled_2019 = corruption_labelled.loc[2019][['country','Value']]

In [9]:
corruption_labelled_2019

                               country  Value
Date
2019  Democratic Republic of the Congo    168
2019            Congo, Republic of the    165
2019                            Rwanda     51
2019                             Ghana     80
2019                           Algeria    106
...                                ...    ...
2019                            Israel     35
2019                             Syria    178
2019                            Jordan     60
2019                           Lebanon    137
2019                      Saudi Arabia     51

[179 rows x 2 columns]

In [ ]:
def Rank(corruption_labelled_2019):
    if (corruption_labelled_2019['Value'] >= 40):
        return 'Very clean'

corruption_labelled_2019['Rank']=corruption_labelled_2019.apply(corruption_labelled_2019,axis=1)

In [ ]:
#corruption_2019.loc[corruption_2019[Value] =< 50 = 'Very clean'
v = column of the  value
if v is less than or greater 50
v = clean
elif
v is less than or greater 100
v = not clean
else
v

In [ ]:
#Data importation
pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [ ]:
life_exp= pd.read_csv(r'C:\Users\harun\Desktop\Data\life_expectancy.csv')

In [ ]:
#Setting date as index
life_exp_labelled = life_expectancy.set_index('Date')

In [ ]:
#SLicing the rows by 2019 (dropping all 2018 rows) and dropping some colums
life_exp_labelled1 = life_expectancy_labelled.loc[2019][['country','Value']]

In [ ]:
round(life_exp_labelled1['Value'])

In [ ]:
#Data importation (GDP per capita)
GDP = pd.read_csv(r'C:\Users\harun\Desktop\Data\GDP.csv')

In [ ]:
#set index to date
GDP_labelled = GDP.set_index('Date')

In [6]:
#SLicing the rows by 2019 (dropping all 2018 and 2020 rows) and dropping some columns
GDP_labelled = GDP_labelled.loc[2019][['country','Value']]
GDP_labelled.shape

NameError: name 'GDP_labelled' is not defined

In [ ]:
?sort